<header class="border-bottom shadow-sm  p-3">
  <h1 #appTitle></h1>
  <nav class="nav nav-pills d-flex flex-row">
    <a class="nav-item nav-link" routerLink="home" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link" routerLink="cart" routerLinkActive="active">Cart
      <span class="badge badge-dark">{{cartService.quantityProducts}}</span>
    </a>
    <a class="nav-item nav-link" routerLink="orders" routerLinkActive="active">Orders</a>
    <a class="nav-item nav-link ml-auto"
       *ngIf="!authService.isLogin"
       routerLink="login" routerLinkActive="active">Login
    </a>
    <a class="nav-item nav-link ml-auto btn"
       (click)="logout()"
       *ngIf="authService.isLogin">Logout
    </a>
  </nav>
</header>
