<div class="cart-list">
  <h2>Cart list</h2>
  <div *ngIf="cartInfo.quantityProducts;else emptyCart" class="cart-list__info">
    <p>total products: {{cartInfo.quantityProducts}}</p>
    <p>total: {{cartInfo.totalAmount}}</p>
  </div>
  <ng-template #emptyCart>
    <h5 class="cart-list__empty-title">Cart is empty</h5>
  </ng-template>

  <div class="cart-list__list">
    <app-cart-item
      *ngFor="let cartProduct of cartInfo.cartProducts"
      [cartProduct]="cartProduct"
      (increaseQuantity)="increaseQuantity($event)"
      (decreaseQuantity)="decreaseQuantity($event)"
      (deleteProduct)="deleteProduct($event)">
    </app-cart-item>
  </div>
</div>
